.box1 {
  background-color: #09a6f3;
}

.box2 {
  background-color: #066b9d;
}

.box3 {
  background-color: #023047;
}

.nested.dropdown:hover > .dropdown-menu {
  display: block;
}
.nested.dropdown .dropdown-menu {
  top: -12px;
  margin-left: 100%;
}
.nested.dropdown .dropdown-trigger button::after {
}
.nested.dropdown .dropdown-trigger button {
  padding: 0px 0px;
  border: 0px;
  font-size: 14px;
  font-weight: 400;
}

.soru_no {
  color: #ff3e00;
  font-size: 2em;
  font-weight: 100;
}

.letter_0 {
  background-image: url(/images/letter_a.svg);
  background-repeat: no-repeat;
}

.letter_1 {
  background-image: url(/images/letter_b.svg);
  background-repeat: no-repeat;
}

.letter_2 {
  background-image: url(/images/letter_c.svg);
  background-repeat: no-repeat;
}

.letter_3 {
  background-image: url(/images/letter_d.svg);
  background-repeat: no-repeat;
}

.letter_4 {
  background-image: url(/images/letter_e.svg);
  background-repeat: no-repeat;
}

.cevap_hover {
  background-color: #7b886f;
}

.cevap_selected {
  background-color: #87c09b !important;
}
